.form {
  margin-bottom: 2rem;

  &__input {
    background: transparent;
    border: 0;
    border-bottom: solid 2px $blueGrey;
    margin-right: 10px;
    letter-spacing: 2px;
    width: 25%;
    padding: 0.4rem;
  }

  &__button {
    border: solid 2px $redOrange;
    background: transparent;
    padding: 0.2rem 0.9rem;
    margin: 0 0.2rem;
    border-radius: 1px;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
    margin-left: 0.7rem;

    &:hover {
      border: solid 2px $blueGrey;
    }
  }

  & input[type="text"] {
    outline: none;
  }

  & input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px $offWhite inset;
    -webkit-text-fill-color: $blueGrey !important;
  }
}
